<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pk.lease.web.admin.mapper.FeeValueMapper">



    <select id="selectListByApartmentId" resultType="com.pk.lease.web.admin.vo.fee.FeeValueVo">
        select fv.id,
               fv.name,
               fv.unit,
               fv.fee_key_id,
               fk.id,
               fk.name fee_key_name
        from apartment_fee_value afv,
             fee_value fv,
             fee_key fk
        where afv.is_deleted = 0
          and fv.is_deleted = 0
          and fk.is_deleted = 0
          and apartment_id = #{id}
          and afv.fee_value_id = fv.id
          and fv.fee_key_id = fk.id
    </select>
</mapper>
